html{
  background-repeat: no-repeat;
  background-size: cover;;
  height: 100%;
  background-position: center;
}
body{
  color: black;
  margin: 0 auto;
  position: relative;;
  max-width: 700px;
  font-family: "Courier New", Courier, Monaco, sans-serif;
  font-size: 12px;
}
h1{
  font-size: 18px;
  font-weight: normal;
  margin-top: 5px;
}
.header {
  margin-top: 110px;
  text-align: center;
}
.main {
  display: block;
  width: 650px;
  margin-left: -228px;
  margin-top: 65px;
}
.container{
  width: 750px;
  margin-top: 65px;
}
.photo{
display: inline-block;
width: 50%;
padding-right: 10px;
box-sizing: border-box;
}
.scroller{
  display:
  position: absolute;
  padding-left: 80px;
  margin-top: 20px;
}
.description{
  width: 300px;
  display: inline-block;
  vertical-align: top;

}
a {
  color: black;
  text-decoration: none;
}
.footer a{
  display: inline-block;
  padding-right: 5px;
}
.footer a:hover{
  background-color: red;
  color: white;
}
.footer{
  margin-top: 50px;
}
ul {
  list-style: none;
  padding: 0px;
  }
li {
  display: inline;
  padding-right: 5px;
}

.slick-prev:before, .slick-next:before {
   color: black;
}

.slick-prev {
  left: 100px;
}

.slick-next {
  right: 100px;
}

.slick-prev, .slick-next {
  top: auto;
  bottom: 0;
}
